* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
}

#memorygame {
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4px;
}

.card {
  cursor: pointer;
  flex-basis: 25%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  perspective: 1000px;
  padding: 4px;

  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  &.clicked {
    .card-inner {
      transform: rotateY(180deg);
    }
  }

  &.matched {
    color: white;
    cursor: default;

    .card-inner {
      transform: rotateY(180deg);
    }

    .back-card { background: green; }
  }

  &.preventClick {
    cursor: default;
  }
}

.front-card,
.back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front-card {
  background-color: #bbb;
  color: black;
  z-index: 2;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.back-card {
  background-color: orange;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
}

.restartgame {
  position: absolute;
  background: black;
  color: white;
  border: 4px solid white;
  outline: 0 none;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: none;

  &.show { display: block; }
}